@import 'nib'

body
	background-color #eee

.app-content
	background-color #fff
	min-height 100vh
	padding 16px

.logo
	width 200px
	height 110px
	background-position center
	background-size cover
	background-repeat no-repeat
	background-image url(../template/img/logo.png)
	margin 0 auto
	@media all and (max-width: 600px)
		width 100px
		height 55px